apex==0.9.10dev
dso==0.0.5
gplearn==0.4.2
ipython==8.12.0
matplotlib==3.7.1
numba==0.56.4
numbakit_ode==0.5
numbalsoda==0.3.4
numexpr==2.8.4
numpy==1.23.5
pandas==2.0.0
pmlb==1.0.2a0
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
setproctitle==1.3.2
sympy==1.11.1
sympytorch==0.1.1
torch==2.0.0
tqdm==4.64.1
xgboost==1.7.5
